# Python
backend/venv/
backend/**/__pycache__/
*.pyc
*.db


# Environment variables
backend/.env

# React
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
# Frontend environment variables
frontend/.env
